.container {
    width: 720px;
    height: 380px;
    margin: auto;
    background-color: rgb(249, 248, 248);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif
}

.containerImage {
    width: 540px;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    background-color: rgb(249, 248, 248);
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50px;
    object-fit: cover;
}

body {
    /* taruh item di tengah */
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background */
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



